@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  --blue: #031956;
  --mblue: #344fa1;
  --white: #ffffff;
  --pink: green;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.bblue {
  background-color: var(--blue);
}
.bmblue {
  background-color: var(--mblue);
}
.bpink {
  background-color: var(--pink);
}

.cw {
  color: var(--white);
}
.mt {
  margin-top: 2rem;
}
.miscform {
  padding: 1rem;
}
button {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  display: inline;
  margin: 0.2rem;
}
button:hover {
  transform: scale(1.1);
}

.linet {
  text-decoration: line-through;
}
.misc {
  margin-bottom: 2rem;
}
/* text */
.t1 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 4.5rem;
  color: var(--mblue);
}
.t2 {
  font-weight: 500;
  font-size: 1.5rem;
  display: inline;
  margin-block: 0;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.wfull {
  width: 100%;
}
/* flex */
.flex {
  display: flex;
}
.jc {
  justify-content: center;
}
.js {
  justify-content: space-between;
}
.ai {
  align-items: center;
}
.fc {
  flex-direction: column;
}

.w20 {
  width: 20%;
}
.mauto {
  margin: auto;
}
.outerdiv {
  width: 50%;
  border: 2px solid var(--mblue);
  border-radius: 2rem;
  /* padding: 2rem; */
}

.task {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 3px solid var(--blue);
  border-radius: 1rem;
  background-color: var(--blue);
}
.task:hover {
  background-color: var(--white);
  border: 3px solid var(--blue);
}
.task:hover h2 {
  color: var(--blue);
}
#tasklist {
  width: 90%;
}
.inp {
  border-radius: 1.5rem;
  height: 3.5rem;
  color: var(--blue);
  outline: none;
  width: 75%;
  margin-right: 0.5rem;
}

@media screen and (max-width: 700px) {
  .outerdiv {
    width: 95%;
  }
}
